@model ChancelleryShop.ProductToReceipt

@{
    ViewData["Title"] = "Details";
}
<div>
    <img class="back" src="https://images.clipartlogo.com/files/images/43/437274/arrow-blue-left-clip-art_f.jpg" />
    <a class="buttons" asp-action="Index">Назад</a>
</div>
<h1 class="important">Покупка</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 important">
            Количество
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2 important">
           Товар
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class = "col-sm-2 important">
            Чек
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receipt.ReceiptId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductToReceiptId">Изменить</a>
    <div>
        <img class="back" src="https://images.clipartlogo.com/files/images/43/437274/arrow-blue-left-clip-art_f.jpg" />
        <a class="buttons" asp-action="Index">Назад</a>
    </div>
</div>
