@{
    ViewData["Title"] = "Home Page";
}

<div style="margin:50px; background-color:white; border:2px dashed gray">
    <h1 class="important text-center" style="font-size:320%; margin:15px 0;">Интернет-магазин CHANCELLERY SHOP</h1>
    <div style="color: blue; font-weight:bold; " class="text-center">
        проект выполнили студенты ТТП-31 Бабенко Алина и Бурцевич Владислав
    </div>
    <figure style="margin:40px;">
        <img id="vopros" src="https://image.flaticon.com/icons/png/512/37/37543.png" />
        <figcaption style="padding:20px;">
            <h4 style=" font-weight:bold; ">Почему канцелярия?</h4>
            <p style="margin:10px; color: gray;">Сложно представить нашу жизнь без канцтоваров. Они используются взрослыми и детьми круглый год, поэтому пополнять их запасы нужно регулярно. На помощь приходят интернет-магазины канцелярии, в которых можно заказать все необходимое, не выходя из дома. Здесь представлена продукция разных ценовых категорий, чтобы каждый посетитель мог купить то, что ему необходимо.</p>
        </figcaption>
    </figure>
</div>
