<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChancelleryShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm   border-bottom box-shadow mb-3 navbar-fixed-top" style="position: fixed;z-index: 1;">
            <div >
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CHANCELLERY<br /> SHOP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Categories" asp-action="Index">Категории</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Products" asp-action="Index">Товары</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Receipts" asp-action="Index">Чеки</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link " asp-area="" asp-controller="ProductToReceipts" asp-action="Index">Чеки к товарам </a>
                        </li>
                        <li class="nav-item shops">
                            <a class="nav-link " asp-area="" asp-controller="Shops" asp-action="Index">Магазины</a>
                        </li>
                    </ul>
                    <span style=" margin-left: 380px; ">
                        <figure style="width:200px;color:grey">
                            <img id="phone" src="https://e7.pngegg.com/pngimages/431/84/png-clipart-telephone-iphone-computer-icons-phone-icon-electronics-telephone-call.png" />
                            <figcaption>
                                <div>
                                    +(380)123455666
                                </div>
                                <div>
                                    +(380)987655432
                                </div>
                            </figcaption>
                        </figure>
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" >
        <main role="main" class="pb-3" style="padding-top:120px;">
                @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted " style="position:absolute;bottom:0;">
        <div class="container">
            <a style="font-weight:bold;">Chancellery Shop for Web Technologies</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
