@model ChancelleryShop.Receipt

@{
    ViewData["Title"] = "Delete";
}

<h1 class="important"><img class="delete" src="https://static8.depositphotos.com/1338574/828/i/600/depositphotos_8282011-stock-photo-badge-exclamation-point.jpg" /> Удаление</h1>

<h3 style="color: #1a3cb7">Вы уверены что хотите удалить это?</h3>
<div class="receipt" style="float:none; height:170px;">
    <h4 class="important text-center">@Html.DisplayFor(model => model.ReceiptId)</h4>
    <div style="padding:5px;">@Html.DisplayFor(model => model.ReceiptDate)</div>
    <figure>
        <img style="width: 42px; height: 42px; float: left; padding:5px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxrAW0FGQ7tqauwFZYmEMZCs0icAXqrB0CQYxIz4pm1M9jQDGpKuCOF_Kl2P8QT5KfkMs&usqp=CAU" />
        <figcaption>
            <div style="padding:5px 5px 0px 5px; font-weight:bold">@Html.DisplayFor(model => model.Shop.ShopCity)</div>
            <div style="padding:0 5px 5px 5px;">@Html.DisplayFor(model => model.Shop.ShopAdress)</div>
        </figcaption>
    </figure>
</div>


    <form asp-action="Delete">
        <input type="hidden" asp-for="ReceiptId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <div>
            <img class="back" src="https://images.clipartlogo.com/files/images/43/437274/arrow-blue-left-clip-art_f.jpg" />
            <a class="buttons" asp-action="Index">Назад</a>
        </div>
    </form>
</div>
