@model ChancelleryShop.Receipt

@{
    ViewData["Title"] = "Edit";
}
<div>
    <img class="back" src="https://images.clipartlogo.com/files/images/43/437274/arrow-blue-left-clip-art_f.jpg" />
    <a class="buttons" asp-action="Index">Назад</a>
</div>
<h1>Изменить</h1>

<h4 class="important">Чек</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReceiptId" />
            <div class="form-group">
                <label class="control-label important">Дата</label>
                <input asp-for="ReceiptDate" class="form-control" />
                <span asp-validation-for="ReceiptDate" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <label class="control-label important">Магазин</label>
                <select asp-for="ShopId" class="form-control" asp-items="ViewBag.ShopId"></select>
                <span asp-validation-for="ShopId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <img class="back" src="https://images.clipartlogo.com/files/images/43/437274/arrow-blue-left-clip-art_f.jpg" />
    <a class="buttons" asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
