@model ChancelleryShop.Category

@{
    ViewData["Title"] = "Details";
}
<div>
    <img class="back" src="https://images.clipartlogo.com/files/images/43/437274/arrow-blue-left-clip-art_f.jpg" />
    <a class="buttons" asp-action="Index">Назад</a>
</div>
<h4 >Категория:</h4>
<h1 class="important">@Html.DisplayFor(model => model.CategoryName)</h1>

<div>
    <a class="buttons" asp-action="Edit" asp-route-id="@Model.CategoryId">Изменить</a>
    <div>
        <img class="back" src="https://images.clipartlogo.com/files/images/43/437274/arrow-blue-left-clip-art_f.jpg" />
        <a class="buttons" asp-action="Index">Назад</a>
    </div>
</div>
