@model IEnumerable<ChancelleryShop.Category>

@{
    ViewData["Title"] = "Index";
}

<h1 class="important text-center">Категории товаров</h1>

<p class="text-center" style="font-weight:bold;">
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <figure class="rectangleCategory">
            <img class="rectangleCategoryImg" src="https://avatanplus.com/files/resources/original/59d53dada749115ee8f8ee75.png" />
            <figcaption>
                <h3 class="rectangleCategoryName">@Html.DisplayFor(modelItem => item.CategoryName)</h3>
                <div style="color: #cf004c;">
                <a style="color: #cf004c;" asp-action="Details" asp-route-id="@item.CategoryId">Смотреть</a>
                </div>
                <div style="padding-top: 45px">
                    <a style="padding-right: 20px" asp-action="Edit" asp-route-id="@item.CategoryId">Изменить  </a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId">  Удалить</a>
                </div>
            </figcaption>
            </figure>
        }
    </tbody>
        
        
</table>
